@model Tcc.DayHappy.Web.Models.ProdutoViewModel
@using Tcc.DayHappy.Web.Models


@{
    ViewData["Title"] = "Consultas";
}

<div class="page-header">
    <h2>@ViewData["Title"]</h2>
</div>
<div style="padding-bottom: 15px;" class="text-right">
    <a asp-action="Create" asp-controller="Home" class="btn btn-success">Cadastrar</a>
</div>
<!-- <div class="table-responsive">
 
                        <td>
                            @Html.ActionLink("Detalhes", "Details", new { }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Editar", "Edit", new {  }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Deletar", "Delete", new { }, new { @class = "btn btn-danger" })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger">
            <p>Não há funcionários cadastrados.</p>
        </div>
    }
</div>-->

<dx:BootstrapGridView runat="server" KeyFieldName="CustomerID" DataSourceID="DataSourceDataToggleInColumns">
    <Settings ShowHeaderFilterButton="true" />
    <Templates>
        <Header>
            <div>
                <a data-toggle="gridview-column-sort" aria-label="First Name header column. Sorted ascending" href="javascript:;"><%# Container.Column.Caption %></a>
                <div>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="gridview-column-filterpopup">
                        <%# GetCurrentFilter(Container.Column as BootstrapGridViewDataColumn) %>
                        <span class="caret"></span>
                    </button>
                </div>
            </div>
        </Header>
    </Templates>
    <Columns>
        <dx:BootstrapGridViewDataColumn FieldName="CompanyName" Caption="Company Name"></dx:BootstrapGridViewDataColumn>
        <dx:BootstrapGridViewDataColumn FieldName="ContactName" Caption="Contact Name"></dx:BootstrapGridViewDataColumn>
        <dx:BootstrapGridViewDataColumn FieldName="Country" Caption="Country"></dx:BootstrapGridViewDataColumn>
        <dx:BootstrapGridViewDataColumn FieldName="City" Caption="City"></dx:BootstrapGridViewDataColumn>
        <dx:BootstrapGridViewDataColumn FieldName="Address" Caption="Address"></dx:BootstrapGridViewDataColumn>
    </Columns>
</dx:BootstrapGridView>
